/* Guest List Container */
.guest-list-container {
  background-color: #f8f1e5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1% 8% 1% 8%;
  font-family: "Lato", sans-serif;
}

.guest-list-heading {
  color: #5a189a;
  font-size: 40px;
  font-weight: bold;
  font-family: "Merriweather", serif;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}

.guest-list-options {
  display: flex;
  justify-content: space-between;
}

/* Guest Table */
.guest-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
  text-align: center !important;
  background-color: #f8f1e5;
  color: #D72638;
  border: solid 1px #ECC5BF;
}

.guest-table th {
  background-color: #F7E8D7;
  font-size: 16px;
  padding: 12px;
  text-align: left;
  border-bottom: solid 1px #ECC5BF;
}

.guest-table td {
  padding: 12px;
  text-align: left;
}

.guest-table tr:hover {
  background-color: #F7E8D7;
}

/* Remove Button */
.remove-btn {
  padding-top: 2px;
  width: 18px;
  height: 18px;
  opacity: 0.66;
}

.remove-btn:hover {
  opacity: 1;
}

/* Add Guest Section */
.add-guest-section {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: left;
  display: flex;
  flex-direction: row;
}

.add-guest-section h2 {
  font-size: 16px;
  text-align: left;
  color:#5A189A;
}

.add-guest-section input {
  padding: 10px;
  margin: 5px;
  background-color: #F7E8D7;
  border: solid 1px #ECC5BF;
  border-radius: 0;
  font-size: 16px;
  color: #D72638;
}

.add-guest-section input::placeholder {
  color: #D72638;
}

.add-guest-section input:focus {
  outline: none;
  border: 1px solid #D72638;
}

.add-guest-btn {
  background-color: #D72638;
  color: #f8f1e5;
  padding: 8px 16px;
  font-size: 16px;
  height: 40px;
  width: 125px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

.add-guest-btn:hover {
  background-color: #b71c2c;
}

.dropdown-selector {
  width: auto;
}

.dropdown-selector label {
  color: #5A189A;
  font-weight: bold;
  padding-right: 15px;
}

.dropdown-selector select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ECC5BF;
  border-radius: 6px;
  background-color: #F7E8D7;
  color: #D72638;
  font-family: "Lato", sans-serif;
}


.send-reminder-btn {
  background-color: #D72638;
  width: 155px;
  height: 40px;
  color: #f8f1e5;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.send-reminder-btn:hover {
  background-color: #a71e2f;
}

.send-reminder-btn:active {
  background-color: #a71e2f;
}

/* Responsive Design */
@media only screen and (max-width: 1100px) {
  .dropdown-selector {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .dropdown-selector select {
    width: 160px;
  }

  .guest-list-options {
    flex-direction: column;
    padding-bottom: 20px;
  }

  .guest-table-wrapper {
    overflow-x: auto;
    width: 100%;
  }

  .guest-table {
    width: 100%;
    border-collapse: collapse;
    white-space: initial;
    table-layout: auto;
  }

  .guest-table th,
  .guest-table td {
    padding: 8px;
  }

  .guest-list-heading {
    font-size: 32px;
  }

  .add-guest-section {
    width: 80%;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 10px 0 0 0;
  }

  .add-guest-section h2 {
    margin-bottom: 0px;
  }

  .add-guest-section input {
    margin: 2px 0 2px 0;
  }
}